@using ProdavnicaMeda.Models
@model Dictionary<string,Korisnik>
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>@ViewBag.Message</h2>
</div>
<h2>Login</h2>
<form class="container" action="~/Login/Loguj" method="post">
    <table>
        <tr>
            <td>Korisnicko Ime:</td>
            <td><input type="text" name="korisnicko" /></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" name="lozinka" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Uloguj se" /></td>
        </tr>
    </table>
</form>
@if (Session["admin"] != null)
{
    <div class="container">
        <table>
            <tr>
                <th>Korisnicko</th>
                <th>Lozinka</th>
                <th>Ime</th>
            </tr>


            @foreach (Korisnik i in Model.Values)
            {
                <tr>
                    <td>@i.KorisnickoIme</td>
                    <td>@i.Lozinka</td>
                    <td>@i.Ime</td>
                </tr>
            }
        </table>
    </div>
}