
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>@ViewBag.Message</h2> 
</div>
<h2>Login</h2>
<form class="container" action="~/Login/Loguj" method="post">
    <table>
        <tr>
            <td>Korisnicko Ime:</td>
            <td><input type="text" name="korisnicko" /></td>
        </tr>
        <tr>
            <td>Lozinka:</td>
            <td><input type="password" name="lozinka" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Uloguj se" /></td>
        </tr>
    </table>
</form>